<div id="cleanup">
    <div class="col-sm-12">
        <h1 class="text-center">Presentation Cleanup</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="alert {{ alertClass }}" ng-class="{flash: flashMsg}">
            <button ng-click="closeAlert()" class="close" type="button">×</button>
            <strong>{{ flashMsg }}!</strong>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Do some presentation cleanup</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Remove all user
                    <a class="btn btn-danger btn-xs pull-right" title="Remove useless users" ng-click="removeAllUsers()" href="">
                        <span class="fa fa-trash-o"></span>
                    </a>                    
                </li>
                <li class="list-group-item">
                    Remove all covers
                    <a class="btn btn-danger btn-xs pull-right" title="Remove all covers" ng-click="removeAllCovers()" href="">
                        <span class="fa fa-trash-o"></span>
                    </a>                    
                </li>
                <li class="list-group-item">
                    Remove all slides
                    <a class="btn btn-danger btn-xs pull-right" title="Remove all slides" ng-click="removeAllSlides()" href="">
                        <span class="fa fa-trash-o"></span>
                    </a>                    
                </li>
                <li class="list-group-item">
                    Remove all comments
                    <a class="btn btn-danger btn-xs pull-right" title="Remove all comments" ng-click="removeAllComments()" href="">
                        <span class="fa fa-trash-o"></span>
                    </a>                    
                </li>
                <li class="list-group-item">
                    Remove all images (covers, slides, users etc)
                    <a class="btn btn-danger btn-xs pull-right" title="Remove all images" ng-click="removeAllImages()" href="">
                        <span class="fa fa-trash-o"></span>
                    </a>                    
                </li>
            </ul>
        </div>
    </div>
</div>
