<div class="col-sm-12">
    <h1 class="cover-heading">Contact  Us</h1>
</div>
<div class="col-sm-4">
    <p class="lead">Tech Mahindra represents the connected world, offering innovative and customer-centric information technology services and solutions, enabling Enterprises,</p>
    <p class="lead">
      <address>
        <strong>Tech Mahindra Ltd.</strong><br>
        Columbia Business Park- Building B,<br>
        13427 NE 20th Street, Suite 110,<br>
        Bellevue, WA 98004<br />
        <abbr title="Phone">P:</abbr> +1 425 242 5965
      </address>
    </p>
</div>
<div class="col-sm-8">  
   <img src="http://www.techmahindra.com/_LAYOUTS/1033/IMAGES/TechMahindra/pages/globalpresence/template/map1.jpg" class="img-responsive" alt="map" />
</div>


