<div id="dashboard" class="mTop">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#/covers">
                    <h2 class="panel-title"><i class="fa fa-star"></i> All Presentation</h2>
                </a>                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <a href="#/mycovers">
                    <h2 class="panel-title"><i class="fa fa-bullhorn"></i> Presentation By You</h2>
                </a>                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <a href="#/users">
                    <h2 class="panel-title"><i class="fa fa-users"></i> All Available Users</h2>
                </a>                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="#/create-cover">
                    <h2 class="panel-title"><i class="fa fa-plus"></i> Create Presentation</h2>
                </a>                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <a href="#/myprofile">
                    <h2 class="panel-title"><i class="fa fa-user"></i> My Profile</h2>
                </a>                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-secondary">
            <div class="panel-heading">
                <a href="#/manage-images">
                    <h2 class="panel-title"><i class="fa fa-file-image-o"></i> Manage Images</h2>
                </a>                
            </div>
        </div>
    </div>
</div>
