<div id="dashboard">
    <div class="col-sm-12">
        <h1>Dashboard</h1>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">All Presentation</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="cover in covers">
                
                <div class="media cover">
                    <a class="pull-left" href="#/covers/{{cover.id}}">
                        <img class="media-object img-thumbnail" ng-src="{{ cover.coverImg }}" alt="{{ cover.title }}">
                    </a>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-xs" title="View Comments" href="#/covers/{{ cover.id }}/comments">
                            <span class="fa fa-comment"></span>
                        </a>
                    </div>                    
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#/covers/{{ cover.id }}">{{ cover.title }}</a>
                        </h4>
                        <p>{{ cover.description }}</p>

                    </div>

                </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Presentation By You</h3>
            </div>
            <div class="panel-body" ng-hide="currentUser">
                <p class="text-danger">You need to <a href="#/login">Login</a> to see all presentation created by you.</p>
            </div>     
            <ul class="list-group" ng-show="currentUser">
                <li class="list-group-item" ng-repeat="cover in myCovers">
                
                <div class="media cover">
                    <a class="pull-left" href="#/covers/{{cover.id}}">
                        <img class="media-object img-thumbnail" ng-src="{{ cover.coverImg }}" alt="{{ cover.title }}">
                    </a>
                    <div class="pull-right">
                        <a class="btn btn-primary btn-xs" title="View Comments" href="#/covers/{{ cover.id }}/comments">
                            <span class="fa fa-comment"></span>
                        </a>
                    </div>                     
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#/covers/{{ cover.id }}">{{ cover.title }}</a>
                        </h4>
                        <p>{{ cover.description }}</p>

                    </div>

                </div>
                </li>
            </ul>            
<!--             <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-star"></i> Item 1 <a href="#" class="btn btn-success btn-xs pull-right">Go</a>
                </li>
                <li class="list-group-item"><i class="fa fa-star"></i> Item 1 <a href="#" class="btn btn-success btn-xs pull-right">Go</a>
                </li>
                <li class="list-group-item"><i class="fa fa-star"></i> Item 1 <a href="#" class="btn btn-success btn-xs pull-right">Go</a>
                </li>
            </ul> -->
        </div>
    </div>



    <div class="col-sm-6">
        <div class="panel panel-danger panelUsers">
            <div class="panel-heading">
                <h3 class="panel-title">All Available Users</h3>
            </div>
            <div class="panel-body">
                <div class="media" ng-repeat="user in users">
                    <a class="pull-left" href="#/users/{{user.id}}">
                        <img class="media-object img-circle" ng-src="{{user.profilepic}}" alt="{{user.username}}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#/users/{{user.id}}">{{user.username}}</a>
                            <span class="pull-right label label-info">{{user.role}}</span>
                        </h4>
                        <p>{{user.aboutme}}</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

    </div>

</div>
