<div class="formWrapper center-block">
        <div class="alert alert-dismissable alert-danger" ng-class="{flash: flashMsg}">
            <button class="close" type="button" ng-click="closeAlert()">×</button>
            <strong>{{ flashMsg }}!</strong>
        </div>
        
        <div class="panel panel-info">
            <div class="panel-heading" >
                <h3 class="panel-title" ng-if="$path() !== '/add-admin'">Sign Up Now</h3> 
                <h3 class="panel-title" ng-if="$path() === '/add-admin'">Add Admin User</h3> 
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="register()" name="signupForm" novalidate>
<!--                     <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i>
                                </span>
                                <input type="text" placeholder="Email" id="email" class="form-control">
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i>
                                </span>
                                <input type="text" placeholder="Username" name="username" class="form-control" ng-model="formData.username" required>

                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i>
                                </span>
                                <input type="password" placeholder="Password" name="password" class="form-control" ng-model="formData.password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : signupForm.cpassword.$invalid && !signupForm.cpassword.$pristine }">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i>
                                </span>
                                <input type="password" placeholder="Repeat password" name="cpassword" class="form-control" ng-model="cpassword" required valid-password-c>
                                
                            </div>
                            <p ng-show="signupForm.cpassword.$error.noMatch && !signupForm.password.$pristine" class="help-block text-danger">Passwords do not match</p>
                        </div>
                    </div>

                    <div class="form-group formFooter">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <button class="btn btn-default" ng-if="$path() !== '/add-admin'" ng-disabled="signupForm.$invalid">Sign up</button>  
                                <button class="btn btn-default" ng-if="$path() === '/add-admin'" ng-disabled="signupForm.$invalid">Add Admin</button>	
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-link" ng-href="{{referrer}}" href="#/">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>